[2022-02-14 09:48] jroachell15 opened #2 "[MPI_erweiterung_PRIORITY_007]: Pandora/isomemo - Batch export options for all different models mapping models"
Original ticket: https://github.com/INWT/mpi-iso-app/issues/233

Batch export options for all different models mapping models with model parameters selected by user. The user would be able to select the different independent variables to be plotted and all outputs are saved under saved maps. The name string can be the variable name. The user can also download a zip file with all plots in a chosen

[2022-02-15 09:02] jroachell15 opened #3 "[MPI_erweiterung_priority_054]: Pandora/Isomemo. Save and load files fully describing models plus a text describing model"
Original ticket: https://github.com/INWT/mpi-iso-app/issues/247

User will be able to save and load files fully describing models plus a text describing the model (text entered by user before saving) for apps ReSources /OsteoBioR /Bpred/ IsoMemo models. The saved files should be loadable directly into R so that a user may execute the models within the R environment (this should include the descrip

[2022-02-15 09:11] jroachell15 opened #4 "[FOR ALL MPI APPS ]: Use of frames to make the interfaces easier to navigate (1,5 days)"
Original ticket: https://github.com/INWT/mpi-resources/issues/401

All apps (current and future): use of frames to make the interfaces easier to navigate. At the moment model/graphical options are in the same frame as the results output (e.g. maps) and when one has to scroll down model/graphical options the output is no longer visible. Frames should be used for all apps to separate different input

[2022-02-15 09:18] jroachell15 opened #5 "[MPI_erweiterung_012]: IsoMemo: Email form #218"
Original ticket: https://github.com/INWT/mpi-iso-app/issues/218

Only for the IsoMemo skin: button in the default tab to open a text input box; the user can select from a pending list one of the IsoMemo databases and and URL-link for the email is given. Sends email as feedback form, where the user can make notes or suggestions.

Sebastian suggests that use Github instead, just simply provide the U

[2022-02-18 08:21] jroachell15 opened #6 "[MPI_erweiterung_010]: Pandora / IsoMemo : Update Texts and Logos #216"
original ticket: https://github.com/INWT/mpi-iso-app/issues/216

Modelling options, and all other aspects of the app other than those listed above, are the same for both skins, when Pandora is selected the Data source remains “Database”. Any additional programming tasks listed below as part of the IsoMemo app are to be made available for both skins. Texts shown within the app for selected options

[2022-02-21 12:38] arunge opened #7 "[tasks-2022] Add select all option to inputs"
- [x] Add button to select all options in the categories within the isomemo interface
- [x] make feature available -> checks must pass -> switch to new repo

![image](https://user-images.githubusercontent.com/16759098/154956711-b4276a4a-262d-45ae-ad5a-e845d48c35e3.png)

[2022-02-21 13:15] arunge commented on #7
The jobs currently fail:
![image](https://user-images.githubusercontent.com/16759098/154961654-88bdcb5c-5e7f-4470-a10c-f10d521cb8bf.png)

@isomemo  We mentioned this last week. We believe this is because an old r version is used in the docker container and this makes trouble with some of the used packages. We will update R during the process of switching all jobs to point to this new repo.
Unfortu

[2022-02-28 10:57] jroachell15 opened #8 "[MPI_tasks2022]: Pandora Isomemo - KernelTimeR and TimeR (~ 5 h)"
Input box to select a specific time (as current in current input boxes for coordinate and zoom). Fix the current gif [export bug](https://github.com/INWT/mpi-iso-app/issues/223) in TimeR/KernelTimerR and add the option to export zip files containing the time slides as separate files (svg, png, pdf, tiff, geo-tiff). User options the same as with gif export but time slices as individual files (user

[2022-02-28 12:41] arunge commented on #7
This is working now on the official app (1)

![image](https://user-images.githubusercontent.com/16759098/155985117-8fecd45f-e9c2-45b0-abcc-f5aab55a4d5d.png)

[2022-02-28 12:41] #7 closed

[2022-02-28 12:59] arunge opened #9 "[tasks 2022]: Separate skin with limited functions and limit user resources for interface with all options"
original here: https://github.com/isomemo/mpi-iso-app/issues/127

----
from https://github.com/isomemo/mpi-iso-app/issues/127#issuecomment-1028023789:

[2022-02-28 13:01] arunge commented on #9
The option to set the variable "ISOMEMO_HIDE_MODELLING" was implemented, the app is now running on this new repository.

@wahani Could you set up a second app without the moddeling? Do you need help from my side here?

[2022-02-28 17:59] isomemo opened #10 "Error in SpreadR"
Selected as data source "Lives" with all categories/fields also selected. Tried to run SpreadR model.

For Mean or lower time point: dateLower
For Standard deviation or upper time point selected: dateUpper

Remaining options as default. Ran model and got this error:

"Error in model fitting. Please check your input variables assignments and your data."

This was previously working!

[2022-02-28 18:01] isomemo opened #11 "Error in loading data via Pandora skin"
Loaded the LiVES database using the IsoMemo skin. Then switched to Pandora skin and uploaded an Excel file. Data fields for Excel file were not visible in the interface.

[2022-03-01 07:51] jroachell15 commented on #11
@isomemo yes I confirm this is an issue. @arunge maybe we can solve this small bug by placing the "reset" function every time the user switch skins?

[2022-03-01 11:32] jroachell15 opened #12 "[MPI_tasks2022]: All graphical models in IsoMemoapp (New) ~1.5 h"
INWT comments (November 2, 2021):
Option to define how many numbers to be shown after decimal point in the scales of graphs. 1 for maps for the legend, 1 for scatterplot

[2022-03-01 13:08] wahani commented on #9
@arunge can you check if https://isomemoapp.com/app/iso-memo-data-app-beta is what you expect to see?

Final question what name should we use on https://isomemoapp.com for this app?

[2022-03-02 08:05] jroachell15 commented on #10
@isomemo we will retest this and come back with a more well-rounded response to this error. thanks Ricardo!

[2022-03-02 11:53] arunge commented on #9
@wahani the app is working as expected: after loading all data, the modelling tab is hidden, and instead a tab with the download button shows up.

@isomemo Could you suggest a name for the IsoMemo app "light" (which does not contain modelling) that we can use on https://isomemoapp.com/ ?
Is the current implementation under https://isomemoapp.com/app/iso-memo-data-app-beta
what you expected?

[2022-03-03 08:48] arunge commented on #10
We could reproduce this error, even on the previous version (1) from the former repository:

![image](https://user-images.githubusercontent.com/16759098/156529056-21af0955-36f6-47fc-933f-8cca7002b022.png)

![image](https://user-images.githubusercontent.com/16759098/156529153-dd7c1263-182c-4871-84c6-a200a923ba3a.png)

- We will look for the problem and fix it. It looks like an issue with default va

[2022-03-10 10:06] jroachell15 opened #13 "[MPI_2022]: Pandora Iso-app - data tables plus interactive map (Part 1)"
- [x] #88

- [x] Option to show an empty Interactive map if no database is selected.

- [x] Option to assign color/size/type of symbol by selecting certain columns in table data (for size numeric for other two user can select a palette and something equivalent for symbols – we have this option already implemented for model maps).
  - [x] color
      ![image](https://user-images.githubusercontent.c

[2022-03-10 10:09] jroachell15 opened #14 "[MPI_2022]: Pandora Iso-app - data tables plus interactive map (Part 2)"
Essential implement this package into the app:
- Getting citations from CrossRef. We currently already have fields with user given reference texts from this the system gets a DOI (if this was not already assigned). Now, I wish to have citations in different formats:

- [x] "rdf-xml"
- [x] "turtle"
- [x] "citeproc-json"
- [x] "citeproc-json-ish"
- [x] "text", "ris", "bibtex" (default)
- [x] "crossr

[2022-03-10 10:09] jroachell15 commented on #14
INWT comment: August 21, 2021
CrossRef: we can only offer the on-the-fly solution, we won’t alter the data format in the package; this will include an option to query the database and select one format from a dropdown, which will then be added as an additional column: ~1-2 day or 12 h (assuming, that the R package works as expected)

[2022-03-10 10:10] jroachell15 commented on #13
INWT Original Comments (August 21, 2021):
·       duplicates (option to select the fields, option to choose a measure of similarity [the user needs to know, which is appropriate], option to set a threshold; result: additional column which contains row IDs of possible duplicates): ~ 2-3 days, or ~ 20 h
·       Option to show an empty Interactive map if no database is selected: ~1 h
·       Option t

[2022-03-15 08:14] jroachell15 commented on #14
- [ ]  Step 1: give email address

Be nice and share your email with Crossref
The Crossref team encourage requests with appropriate contact information and will forward you to
a dedicated API cluster for improved performance when you share your email address with them.
https://github.com/CrossRef/rest-api-doc#good-manners–more-reliable-service

To pass your email address to Crossref via this clien

[2022-03-15 10:24] arunge commented on #13
[Mapping](https://github.com/Pandora-IsoMemo/iso-data/blob/main/inst/mapping/Field_Mapping.csv) that is currently used to combine different sources:

![image](https://user-images.githubusercontent.com/16759098/158357297-26659c98-7045-4705-af40-064cbfbd5876.png)

[2022-03-16 12:18] jroachell15 commented on #14
# Step 2: Testing the Rcrossref R package with these functions:

FUNCTION to implement:
- `cr_cn(
dois,
format = "bibtex",
style = "apa",
locale = "en-US",
raw = FALSE,
.progress = "none",
url = NULL,
...
)`

Example:
- `cr_cn(dois="https://doi.org/10.1016/j.jasrep.2017.07.030", format= "bibtex")` :

- `cr_cn(dois="https://doi.org/10.1016/j.jasrep.2017.07.030", format= "text")`:

- `cr_cn(dois="ht

[2022-03-16 12:19] jroachell15 commented on #14
# Step 3: Modify functions under DOI feature:
https://github.com/Pandora-IsoMemo/iso-app/blob/main/R/03-dataExplorer.R

[2022-03-22 09:14] jroachell15 commented on #14
@jroachell15

1. Confirm with Ricardo that we can remove the current drop down box and replace with the output of the functions:
![image](https://user-images.githubusercontent.com/73887426/159445881-a20b7d49-c147-46b9-b92b-bd60fbfe49dd.png)

2. and confirm:
which DOI input should be the input:
- compilation DOI
- originalDOI
- databaseDOI

[2022-03-25 14:42] isomemo opened #16 "SpreadR not working"
SpreadR not working on any model and data source (database or uploaded data). I have tested this with datasets that previously worked well and always get the same error "
Error in model fitting. Please check your input variables assignments and your data.
"

Has anything been changed to SpreadR? What about other models within the app?

[2022-03-26 09:31] mgross commented on #10
@jroachell15 @arunge @isomemo Sorry that was my fault. Should be fixed with 22.2.3

[2022-03-27 14:37] isomemo opened #17 "Can no longer run AverageR modelling"
When trying to run an AverageR model I now get this error "
NA Site ID variable. Please check your data". This was working previously! Given the recent issue and SpreadR, perhaps several other things stopped working on this app?

[2022-03-27 14:43] isomemo opened #18 "Yet another error on SpreadR"
I tried to run SpreadR and got this error when selecting for Date type "Single point" or "Mean + 1SD uncertainty":

"Error in model fitting. Please check your input variables assignments and your data."

The above was working previously I am rather concerned that several things stopped working under the new transition and I just noticing now a few of them. We will need to chat about this.

[2022-03-27 15:28] isomemo opened #19 "OperatoR inputs"
Currently in OperatoR inputs we can select "Data source" and "Select map". However, if I select under "Data source" the option "Save map" no listing is given under "Select Map". This only works if for "Data source". I select "Create map".

I believe that the option the option "Save map" is relative to the creation of maps which is now under of the main menu "Saved maps". This generates considerabl

[2022-03-27 15:32] isomemo opened #20 "Saved maps"
Under the main menu currently named "Saved maps" I can create new numeric maps. If I select the option region-circle, I can select to create a numeric map for a certain radius around a certain centre. This seems to be Ok. However, if I select the option region-square the options are the same. This should be renamed as region-rectangle. Here, the options should be the upper left/lower right corners

[2022-03-28 08:33] arunge commented on #10
I merged the [fix](https://github.com/Pandora-IsoMemo/iso-app/commit/514fa5c1e08ca667b59aa8e863a4b322818d01d3) from @mgross into the beta version, also.
I can confirm that the fix solves the problem in version 22.2.3.

@isomemo  I close here now.

[2022-03-28 08:33] #10 closed

[2022-03-28 08:37] arunge commented on #18
Duplicate of https://github.com/Pandora-IsoMemo/iso-app/issues/16

[2022-03-28 08:37] #18 closed

[2022-03-28 08:41] #16 closed

[2022-03-28 08:49] arunge commented on #17
@isomemo Maybe this was related to the fix in #16

I tested AverageR with some data, it workes:

![image](https://user-images.githubusercontent.com/16759098/160361453-b6b398b0-d195-48dc-bfe1-f4011eeeabe4.png)

Could you check, and if the issue still exist, tell us exactly which inputs you used?

[2022-03-28 09:24] mgross commented on #19
The saved map option under data options is for maps that were already created and saved with OperateR (to re-view them).

[2022-03-28 14:02] isomemo commented on #19
Ok! Then we leave it as is but still we need the following:

In the main menu rename "Saved maps" to "View/create single maps" since the creation of "numeric" maps is done under this menu. It is not only for viewing.

Under this menu, the option to create a rectangle (now named square, please correct naming) and given input boxes for lat/long of upper left/lower right rectangle. Now showing option

[2022-03-29 11:25] arunge commented on #14
@isomemo  As we just discussed, the idea is to add
- the input for selecting the format of the reference here at (1) and call it "Citation Format" and
- to keep the option "Citation Type" (2) but to rename this to "Citation Export Type"

Is that correct?

![image](https://user-images.githubusercontent.com/16759098/160600613-f31f2410-04eb-49dd-b6f3-da260965b364.png)

[2022-03-29 11:31] jroachell15 commented on #14
@isomemo Isomemo/Pandora will summarize and make clear of the instructions
https://cran.r-project.org/web/packages/rcrossref/rcrossref.pdf

[2022-03-29 12:19] isomemo commented on #14
@jroachell15 @arunge

The crossref R package allows on to select "format"and "style".

Style refers to the string for each reference. Options include Harvard, Chicago...
Format refers to the format in which the text strings for the references will be organized in a file. Options include Bibtex, RIS...

We already have a basic option to export different formats named "Citation type". This should be

[2022-03-30 11:31] jroachell15 commented on #14
@isomemo because of the implementation of the Style, argument, which was not considered in the beginning, it might take a few more hours to implement than originally anticipated.

Inputs columns: databaseDOI, originalDOI, compilationDOI: when the DOI is empty, the txt reference is generated

User inputs dropdown function: e.g. harvard vs. chicago style: fetch the text string and automatically thre

[2022-04-04 14:57] arunge commented on #13
@isomemo We added the following features to the beta version.

We are curretnly working on the left features.

[2022-04-07 09:31] jroachell15 commented on #14
@isomemo

Ricardo: the options dropdown for Citation: APA style as default. What other style should I include here?
![image](https://user-images.githubusercontent.com/73887426/162168150-95618c9a-57d9-45bd-b969-8f5a3ceb5f2a.png)

Options drop down for citation format:  with bibtex as default
![image](https://user-images.githubusercontent.com/73887426/162168373-5698428b-5934-4dbd-b4c4-14c77c048d17.p

[2022-04-12 11:09] jroachell15 commented on #14
@isomemo please comment on what other citation styles, thanks!

[2022-04-19 14:14] isomemo opened #24 "Bugs with mapping"
Several issues with mapping in IsoMemo app. Listed below and shown in this video: https://youtu.be/pi6w_9blU3U

In regular version: size of points shown in app are larger in the export

Both versions: when show/hide north arrow/scale/logo the entire map is moved
weird behaviour with visibility of export button

Beta version:
applying coordinate values should not be dynamic! Add an "Apply coordinat

[2022-04-20 06:53] jroachell15 commented on #24
@isomemo yes we are going over and trying to reproduce the bugs now. thanks Ricardo.

[2022-04-21 09:03] arunge commented on #24
@isomeme regarding:

Obviously, there was a misunderstanding with:

I thought a logo should be added. Of course, we can change this to show/hide the legend.

[2022-04-21 09:29] arunge commented on #24
I can confirm this behaviour. The zoom and the center is reseted always when "include Scale" or "Include North Arrow" is changed.
The updates of zoom and the center must be fixed. Unfortunately this requires some refactoring, only adding the center and zoom to the drawing function inside the rendering of the map leads to unintended reloadings of the map. I must first figure out how to solve this.

[2022-04-21 09:35] arunge commented on #24
Currently the size of the points depends on the map zoom. Therefore, this might be related to the update of zoom and center and could be sovled when fixing the [above](https://github.com/Pandora-IsoMemo/iso-app/issues/24#issuecomment-1104949022).

Another fix would be to **only** use a fixed point size, e.g. the radius in km, no matter what is the current zoom, and to add an input to adjust the  p

[2022-04-21 09:59] isomemo commented on #24
@arunge you can remove the jitter and one could have the option to show clusters as you suggested. However, this should be optional and it should also be possible to show points (in this case points at the same location overlap and only one point is visible). Having the option to set the size of the points is part of the contract specification. It should be case that point size visualized in the a

[2022-04-22 09:25] isomemo opened #27 "Quirky behaviour of setting scale ranges"
Within AverageR and TimeR we can impose a restriction that all values must be within a certain (0-1 or 0-100). This is NOT a scale option rather it alters modelled values and constrain these within such ranges. For instance, if one applies the 0-100 restriction and the model has estimates of 105 or -3, these will be re-calculated as 100 and 0, respectively.

Separate, from the above the user can s

[2022-04-22 09:29] isomemo opened #28 "TimeR stopped running models"
TimeR models get stuck early on. Using this dataset:
[combined fauna2.xlsx](https://github.com/Pandora-IsoMemo/iso-app/files/8539517/combined.fauna2.xlsx)

and model settings and bug shown in this video: https://youtu.be/_C2kZQP8PbA

The models have now been stuck for a very long time (usually takes 1 minute to run this dataset) and it might be related to the previous bug: #27

[2022-04-25 10:59] arunge commented on #24
Regarding the bugs mentioned above, I prepared a pull request that fixes some of them (on the **beta** version). It is under review, now.

- This is related to the point size that depends on the zoom. When we implemented the fixed point sizes as discussed [here](https://github.com/Pandora-IsoMemo/iso-app/issues/24#issuecomment-1104991777) within https://github.com/Pandora-IsoMemo/iso-app/issues/13

[2022-04-26 11:10] arunge commented on #9
As just discussed with @isomemo : Update the display name of the app(s):

![image](https://user-images.githubusercontent.com/16759098/165285795-557da604-9d13-47c6-bb03-ad1b12fecaff.png)

- in case of limited functions: "Data search"
- in case of full app: "Data search & Spatiotemporal modeling"

@isomemo
- you mentioned you wanted to replace the download button with a link to the readme with instr

[2022-04-26 12:43] arunge opened #29 "Update the icon of the organization"
@isomemo Thanks for providing the new icon. However, it is not quadratic and does not fit for github:

![image](https://user-images.githubusercontent.com/16759098/165301960-47c9e490-1dbf-4cb9-83f3-59063620b76d.png)

Do you have a quadratic one?

[2022-04-27 08:11] jroachell15 commented on #28
@isomemo hi Ricardom

I have tried to reproduce this bug and was not successful on the beta version. The data you provided worked for me with all the conditions you provided in the youtube video. Here are the results:

![image](https://user-images.githubusercontent.com/73887426/165472078-cf1bf962-aaac-4096-8458-78861880243d.png)

Please try again on your side, and please let me know if you have ot

[2022-04-29 12:03] arunge commented on #24
The fixes were merged into the beta in version 22.04.4.
All was solved except:

This will be solved with

in https://github.com/Pandora-IsoMemo/iso-app/issues/13 and when the updates from the beta will be merged to the main.

[2022-04-29 12:03] #24 closed

[2022-05-03 13:29] isomemo opened #30 "Scale on speed map changes with degree of Zoom"
Scale on speed map changes with degree of Zoom. This is an old previously reported bug. Perhaps a fix is readily available?

I used this dataset:
[rice spread.xlsx](https://github.com/Pandora-IsoMemo/iso-app/files/8610696/rice.spread.xlsx)

These settings were used: Date type interval (Start.Date... and Finish.Date... as field inputs), Longitude & Latitude as coordinate fields, Min estimate, 0.05%

[2022-05-03 15:28] isomemo opened #31 "SpreadR model fitting error"
#30 this is related to the previous issue and dataset. To check why rather early date estimates are being generated I added a new column with entry values all set to 1000. I then used a single point model and selected the "1000" field as the single date input. I got the following error:

"Error in model fitting. Please check your input variables assignments and your data."

[2022-05-05 08:05] jroachell15 commented on #27
@isomemo

Hi Ricardo,
TIMER- not working:
- i have not been able to reproduce this: on our side, the beta version was able to upload the dataset you specified `combinedFauna2`, and a map was rendered. This is the result:
![image](https://user-images.githubusercontent.com/73887426/166882346-04484533-3595-4c3b-bcb5-3cfdbc216945.png)
- could you please test this again on your end?

Scale values on th

[2022-05-05 08:09] jroachell15 commented on #19
@mgross have you already helped @isomemo on this issue or should i make the name changes?

[2022-05-05 10:09] jroachell15 commented on #14
@isomemo

hi Ricardo,

I have encounter a slight performance issue. I have been testing on the backend the Rcrossref function takes a long time to run.

I only ran 10 rows, and its taking about 25 seconds. here is the backend code in R:

[code]

Because we have for every row, three API requests for each DOI column: `OriginalDataDOI`, `compilationDOI`, and `databaseDOI`, its taking a long time.

So

[2022-05-06 11:34] arunge commented on #13
We [decided](https://github.com/Pandora-IsoMemo/iso-app/issues/24#issuecomment-1104991777) to add optional clustering of data points. The default colour represents the size of clusters instead of the data source.

![image](https://user-images.githubusercontent.com/16759098/167123448-e3569f77-29c6-4d27-b78a-5c09ccb4c492.png)

@isomemo We should discuss if we keep the default or if we use colour by

[2022-05-07 09:30] mgross commented on #31
On the bug: If you put only the same times into the data sets the model is going to fail (you cannot estimate any uncertainty from it),

First of all earlier dates are a feature of the model and are there by purpose/construction. I think we discussed this several times before but the modeling approach goes beyond simple interpolation by trying to estimate the minima and not the interpolated averag

[2022-05-07 09:33] mgross commented on #30
On the speed, we use a different method compared to the paper. I give an example how the high speeds occur (and how the "bug" occurs):

We have an observation in western Borneo and in southern Sulawesi where we have similar estimated minima times. Between them there are no observations. Now, speed is: (distance) / (time estimate difference). If both time estimates are very similar and thus the tim

[2022-05-07 09:34] mgross commented on #19
@jroachell15 If you can do this I would be grateful

[2022-05-07 09:43] mgross commented on #27
I tested it and everything works as intended, not sure what the issue is here.  When clicking on the "restrict range dependent variable" , the scale doesn't respond, yes. But why should it? You can set the scale to 0 to 0.2 and restrict the range to 0-1 (e.g. to set negative values to 0). Why should the latter change the scale. I think everything works fine here.

[2022-05-07 09:44] isomemo commented on #31
Can we please have a message stating that "All entry values are the same! No uncertainty estimate is possible!" when the same time is set for all inputs?

Yes, we discussed several times the spread modelling and the issues indicated by others are points I had raised before. Just wondering if there would be any further recommendations before moving on to Adam's modelling.

Can you please clarify th

[2022-05-07 09:49] isomemo commented on #30
Ok! I also got different estimates by moving the graph (no zoom). Thus, the scale reflects the range for the visible area? If so, can this also change for the average map?

[2022-05-07 10:00] isomemo commented on #27
Ok on TimeR working now! As you saw from the video it was not working when I tested it although now it does. Could this have been related to server overload?

As for the bug with the restriction, I was referring to the endless loop that this generates. As Marcus, mentioned the restriction is a estimate option while the scale is the selected interval and I should be able to set these separately.  T

[2022-05-09 17:18] isomemo commented on #11
Thanks! Showing only the most recently uploaded data is the expected behaviour!

[2022-05-10 10:15] jroachell15 commented on #14
andreas:
- users write down reference, but sometimes not the DOI ,
- script does a DOI search, at the same time, also search a string and save the style bibtex reference,
- then converting citation: input is bibtext string operation,

[2022-05-10 11:47] arunge opened #34 "Split up the scripts for the modeling tabs and create several new modules"
@isomemo as just mentioned I give you a description of the idea to restructure the modeling tabs of this app, but its more then one line... :see_no_evil:

The iso app was developed over years now, a lot of options had been added over time. Currently, all options for one tab of one model, e.g. "AverageR" are in one script, e.g. [03-modelResults2D.R](https://github.com/Pandora-IsoMemo/iso-app/blob/m

[2022-05-10 12:04] arunge commented on #9
@isomemo Currently we use the following url for the app version without modeling: https://isomemoapp.com/app/iso-memo-data-app-beta

You mentioned one that contains "search". Could you repeat your suggestion, please?

[2022-05-10 12:09] isomemo commented on #9
There will be two urls pointing to the server app: pandoradatasearch.earth and isomemodatasearch.com

the title within the app could be: Pandora & IsoMemo data search

[2022-05-10 13:44] arunge commented on #27
@mgross @jroachell15 I will tackle the rerendering issue within #34

[2022-05-10 13:49] arunge commented on #11
The restructering of the [dataExplorer](https://github.com/Pandora-IsoMemo/iso-app/blob/main/R/03-dataExplorer.R) that fixes the bug was merged into main and beta branches.

[2022-05-10 13:49] #11 closed, assigned to arunge, jroachell15

[2022-05-20 10:14] arunge commented on #9
@isomemo I am updating the tab panel for the _only-data-search-mode_ of the app. I remove the download button and show the following text and links with the next version. Is this text ok? Or do you suggest something else?

![image](https://user-images.githubusercontent.com/16759098/169506601-4a7973ab-458b-4c3f-989e-9c7582a43625.png)

[2022-06-03 10:23] arunge commented on #3
It is planed to implement this feature step by step, optimally after the refactoring within #34.
The isomemo app provides several models and thus we have different model outputs to be downloaded/uploaded. We need to implement the structure for a secure update of
- model results and
- user inputs

after a model object was uploaded dependent on the respective model object.

[2022-06-03 10:35] arunge commented on #5
@isomemo This task was formulated before we had the open source github repository. We should discuss what is the target here and what is the best option to achieve it, e.g.:

[2022-06-03 11:07] isomemo commented on #5
I am happy with solutions that makes the process simpler for the user! We can discuss this on Monday, let me know then what are the obstacles.

[2022-06-10 08:17] arunge opened #37 "[MPI_tasks2022]: Pandora Isomemo tool to merge datasets (56 h) task"
b) Once the selection is completed the user then can press a button to start the definition of the merging process with two main options: merger of fields or merger by common field

- for more Details see https://github.com/isomemo/mpi-iso-app/issues/131

[2022-06-11 14:33] isomemo opened #38 "Text updates for IsoMemo CRAN package"
Requests for text edits to the description of the package (in the webpage and in the pdf):

Where it says "Retrieve Data using the Max Plank Institute 'IsoMemo' API" please change this to

"Retrieve Data using the 'IsoMemo' API". This is in the pdf and in the title of the webpage.

Where it says"database options: "14CSea" , "IntChron" , "IsoArcH" , "LiVES" change to

"examples of database options:

[2022-06-14 13:22] jroachell15 commented on #38
@isomemo changes are made, and now going under review. updates are coming.

[2022-06-14 14:45] arunge commented on #9
@isomemo I updatet the titles and the tab with the link to the model, see [above](https://github.com/Pandora-IsoMemo/iso-app/issues/9#issuecomment-1132730666) for the two app versions with version 22.6.2 on the main and beta branch. Currently, you can see both versions under:
- **light app:** https://isomemoapp.com/app/iso-memo-data-app-beta
- **full app:** https://isomemoapp.com/app/iso-memo-app-

[2022-06-15 08:27] arunge commented on #27
@isomemo Since this bug is due to too many rerenderings of the map I shift it to the future tasks. By restructuring the UI within #34 this bug will very certainly be fixed.

[2022-06-15 08:28] isomemo commented on #27
Ok! Please remember to add this to the new contract!

[2022-06-15 08:38] isomemo commented on #30
Ok!

[2022-06-15 08:44] arunge commented on #31
@mgross @isomemo Is there any not-model related issue here where I could help? If yes, please just reassign me. :slightly_smiling_face:

[2022-06-15 08:46] arunge commented on #20
@isomemo Can I add this request for updating user inputs into the new task list?

[2022-06-15 09:10] arunge commented on #14
Since there was no possibility here to receive a speed for the citation convertion that is applicable in an interactive context, we decided to adjust the code, where the data sources are loaded and written to a database: https://github.com/Pandora-IsoMemo/iso-data
The app only loads pre-formated tables from this database.

**New goal:**
- add a "bibtex" citeation style column to the database, such

[2022-06-15 09:23] isomemo commented on #14
Sounds good! I would assume that BibTeX format is possible and the best choice here. The fields included in the BibTeX format are described here: https://www.bibtex.com/g/bibtex-format/

If asked, choose all fields. Citekey identifies each individual citation.

For the batch export of multiple citations, I believe that it is just necessary to concatenate the individual citations leaving an empty l

[2022-06-16 11:56] jroachell15 commented on #38
Today we have submitted these changes to CRAN. @isomemo

[2022-06-20 09:14] isomemo commented on #5
The purpose of this is so that users can give feedback on databases (e.g. identifying missing data, suggest corrections). There will be one email per database and this can be stored in the database script. Indeed we should discuss this.

[2022-06-20 09:18] isomemo commented on #17
Working now!

[2022-06-20 09:18] isomemo commented on #28
Working now!

[2022-06-20 18:30] #17 closed

[2022-06-20 18:30] #28 closed

[2022-06-21 07:34] arunge opened #40 "Merge beta to main branch"
Updates currently running on beta:
- interactive map:
  - empty map on start
  - new calculation of jitter
  - option to set jitter in km
  - fit lat/long boundaries
  - cluster points
  - choose point radius
  - choose height/width (px) when exporting
  - bug fixes with zooming
- several important bug fixes by @mgross

@isomemo I would like to merge the current beta into the main version (althoug

[2022-06-21 07:39] isomemo commented on #40
Yes, Ok!

[2022-06-21 13:04] jroachell15 commented on #38
@isomemo

Spelling and names are changed for IsoMemo Package:

see: https://cran.r-project.org/web/packages/IsoMemo/IsoMemo.pdf

and https://cran.r-project.org/web/packages/IsoMemo/index.html

[2022-06-21 13:04] #38 closed

[2022-06-22 11:52] arunge commented on #37
@isomemo With version 22.06.3 in the [beta app](https://isomemoapp.com/app/iso-memo-app-beta) I updated the popup for data import, see https://github.com/Pandora-IsoMemo/iso-app/pull/39#issue-1276486122

This was a preparation for implementing the merge data feature. To be continued ...

[2022-06-22 12:29] jroachell15 commented on #19
@isomemo

i have changed the `saved maps` to `View single map`:
![image](https://user-images.githubusercontent.com/73887426/175028203-452d5146-3f02-4a27-ba3b-d84a43609c9a.png)

also

now when performing the run, the progressing the bar shows now "Generating map" instead of "Generating difference map"

is there anything else you want to change?

[2022-06-22 13:11] isomemo commented on #19
@jroachell15

In the main menu:

![image](https://user-images.githubusercontent.com/46485054/175034822-cae5ac3a-109d-4bc7-aaea-baf9b372f09a.png)

Rename "Saved maps" to "Saved/Create maps"

Once you select the above you have the following inputs:

![image](https://user-images.githubusercontent.com/46485054/175035242-ee7b5ef6-80e5-46b7-86c6-4832563408e1.png)

If I select "region - circle" it makes

[2022-06-23 09:09] isomemo commented on #20
@arunge @jroachell15

Closing this since also mentioned in #19

[2022-06-23 09:10] isomemo commented on #20
@arunge @jroachell15

Closing this since also mentioned in #19

[2022-06-23 12:46] jroachell15 commented on #19
@isomemo

- This I don't know, maybe @arunge has some knowledge on this?

- [ ] this might take some time from Timebank from testing.

- [ ] The option "Saved maps", I noticed, only loads maps saved under OperatoR, so best to rename this as "Load OperatoR map" instead of "View single map" as previously suggested. DONE.

[2022-06-23 18:43] arunge commented on #4
- https://community.rstudio.com/t/shiny-mainpanel-locking/51700
- https://stackoverflow.com/questions/43972650/make-sidebarpanel-autoscroll-with-mainpanel-in-shiny
- https://stackoverflow.com/questions/56407601/how-to-fix-the-position-of-main-panel-in-r-shiny

[2022-06-27 11:11] wahani commented on #9
Quick update on the progress:

- We have now access to the new server
- Accounts/VPN have been configured by MPI and access was verified by me
- MPI IT have encountered an issue on the DB server, which was caused by an automatic backup und too many orphaned docker images. INWT has resolved these issues. It is likely that they are the root cause of https://github.com/Pandora-IsoMemo/iso-api/issues/

[2022-06-27 11:17] mgross commented on #19
It is the side length of the square (at the center latitude)

[2022-06-28 13:06] arunge commented on #40
Done:
![image](https://user-images.githubusercontent.com/16759098/176185829-f91712e9-8258-449d-a2b5-38019ff99037.png)

[2022-06-29 12:52] arunge opened #43 "Pandora-Iso-App: Update for getting citations from CrossRef"
Since there was no possibility here to receive a speed for the citation convertion that is applicable in an interactive context, we decided to adjust the code, where the data sources are loaded and written to a database: https://github.com/Pandora-IsoMemo/iso-data
The app only loads pre-formated tables from this database.

**New goals:**
- add a "bibtex" citeation style column to the database, suc

[2022-06-29 12:54] arunge commented on #43
Here are some more detail where to start thanks to @isomemo

[2022-06-29 14:44] jroachell15 commented on #6
@isomemo

Do you have the logos and text that we can implement them into the app? or have we already accomplish this?

[2022-06-29 15:28] isomemo commented on #19
@mgross @jroachell15 Yes, we will have to change the naming for when a square is selected. However, before doing that, I would like to ask Marcus if it would be easy to have a rectangle instead of square? Can you please show to Jian the code that would need to be updated for a rectangle option? In this, case one would define a width and height.

Also, be it a circle, rectangle, or square have you

[2022-06-29 15:30] isomemo commented on #6
@jroachell15 would it be Ok to do this later on and reserve the respective programming time? I would prefer to do this one app at a time, once I believe that this is ready to be presented to the general public.

[2022-06-30 10:43] isomemo opened #44 "Non uniform point size"
@arunge

In the IsoMemo skin I selected all databases and produced a map. I set the point size at 34km but as you can see from the figure below the point size is not uniform (the trend seems to be that points become larger as one moves north and vice-versa, this suggests some issue with the size calculation not accounting for latitude)

![image](https://user-images.githubusercontent.com/46485054/1

[2022-06-30 10:50] jroachell15 commented on #19
@isomemo

For this: `change the naming for when a square is selected. However, before doing that, I would like to ask Marcus if it would be easy to have a rectangle instead of square?  Also, be it a circle, rectangle, or square have you considered the possibility that a figure, if too large, could cross the lat/long map limits. For the above, instead of a scroller to select the "Radius in km" plea

[2022-06-30 11:10] isomemo commented on #19
@jroachell15 @mgross I was indeed planning to use the support contract to change from square to rectangle implementation but it would be more efficient if Marcus just flags the code where the inputs are given and replies to my previous queries. Then, we can set a different item for the rectangle implementation and complete the renaming.

[2022-07-01 08:00] arunge commented on #44
Note for fixing:
- see: `leafletCRS()` in https://www.rdocumentation.org/packages/leaflet/versions/2.1.1/topics/leaflet
- https://stackoverflow.com/questions/56597938/how-can-i-use-and-understand-r-leaflets-crsclasses
- https://en.wikipedia.org/wiki/Equirectangular_projection

[2022-07-14 07:49] arunge opened #49 "Check is failing on beta branch"
With the last [commit on the beta branch](https://github.com/Pandora-IsoMemo/iso-app/commit/d940e9ac1565a6e387532ddf3f484ce1dab3496b) now the check is failing:

[code]

@mgross Could you please fix this?
And could you please open a pull request the next time before merging into the branch? Then it is easier to see that checks fail. :wink:
Thanks in advance! :slightly_smiling_face:

[2022-07-21 08:42] jroachell15 commented on #12
@isomemo can you elaborate more on this task please?

[2022-07-21 09:19] jroachell15 commented on #12
Notes to myself:
- start with the most important apps
- find where the plot function is, find the input that adjust:
- [ ] scatter plot function
- [ ] map legend function

[2022-07-26 09:20] jroachell15 commented on #12
@isomemo Hi Ricardo, Please elaborate more on this task. What I am imagining is that user can adjust the decimal points in the "map setting" input box: position 1
![image](https://user-images.githubusercontent.com/73887426/180971391-a67d1642-416c-46ff-9e71-8cff50d52134.png)

The decimal point in the scales of the graphs?  Do you mean that scales of the map or position 2? Which map and where is the

[2022-07-26 09:33] isomemo commented on #12
@jroachell15

This is applicable to the models AverageR, TimeR, SpreadR, KernelR, and KernelTimeR and there are two places where decimal points need to be adjusted.

1) For all these models: after a map is generated one can select a specific point (this only requires that coordinates are entered in "Center point latitude" and "Center point longitude") and an average value plus standard deviation i

[2022-07-28 07:49] jroachell15 commented on #12
Note to self:

found the lines of code that does this:
![image](https://user-images.githubusercontent.com/73887426/181450928-cbc40f79-7a28-41eb-a1c6-08f62679577e.png)

next:
- make a user interaction that adjust the values

[2022-07-28 09:42] jroachell15 commented on #12
@isomemo is there a reason that you want the user to adjust the decimals, or do you think the user would like just 2 or 3 places after the decimal and we hard code it?

In my opinion, the right section is already very crowded, from a UI design perspective, the user would have a hard time finding this new adjustment. Maybe on the right hand side or below the map we can implement this?

[2022-08-02 14:16] jroachell15 commented on #9
@isomemo

### **We do have the "online data search app" implemented. You can access the web app here: https://isomemoapp.com/app/iso-memo-data-app-beta**

let me know if you have any questions. if not @wahani we can close this ticket. thanks!

[2022-08-03 10:33] isomemo commented on #9
@wahani @jroachell15

There are two points here:

1) I had requested the development of a Pandora & IsoMemo interface that should mirror whatever our default Pandora & IsoMemo interface but that should not include modelling options. The link that you sent correspond to this but it mentions beta and so I assume that this is for the beta version. I should have the link for the "official public" app.

[2022-08-08 15:03] hixon3 opened #50 "Trouble with Data Upload from .xlsx"
When I go under the "Data" tab in the top ribbon and click "load data selection," I have trouble uploading the data through an .xlsx file. I can select the file, and then "upload complete" appears.  However, the entire screen is then tinted grey (as below), and it is not possible to continue work.
![image](https://user-images.githubusercontent.com/110838318/183449407-b484c41b-b386-4a75-8f71-cfdedc

[2022-08-08 16:28] hixon3 commented on #50
@arunge @jroachell15 Please ignore my previous comment.  I was uploading my file in the wrong place. Everything is working.

[2022-08-08 16:28] #50 closed

[2022-08-09 07:41] wahani commented on #9
@isomemo you are correct. The new server is not in use yet. I will post any updates here as soon as shinyproxy, etc is running on the new machine.

[2022-08-09 08:59] isomemo commented on #9
@wahani Thanks!

[2022-08-09 13:02] arunge commented on #8
I am checking what needs to be done still:
- [x] Input box to select a specific time (as current in current input boxes for coordinate and zoom).

This looks to be ready:
![image](https://user-images.githubusercontent.com/16759098/183652586-364862e5-38b1-48c2-bde4-e3327364c592.png)

@isomemo Is this what you needed here?

[2022-08-09 13:06] arunge commented on #8
- [x] Fix the current gif https://github.com/INWT/mpi-iso-app/issues/223 in TimeR/KernelTimerR

It takes some time, but the download is working:
![image](https://user-images.githubusercontent.com/16759098/183653131-717d4ebf-8b50-4f56-a3d1-bbbcf9936a9f.png)

As output I got a gif showing the plot for the selected steps. Seems to be fine.

@isomemo Do you still need the following option?

[2022-08-09 13:12] isomemo commented on #8
@arunge the highlighted option in 1 is a slider (not an input box). You will notice below that we have input boxes for coordinates (to be used as an alternative to the buttons to move map/zoom slider). Please add there an input box to select time (for KernelTimerR and TimeR).

As for the bug (point 2) this was also noticed by you previously. Can you please open the gif and check if it working? I w

[2022-08-09 13:15] arunge commented on #8
The gif is working and showing (the default) 6 plots at time points 0, 1000, 2000, 3000, 4000, 5000.

[2022-08-09 13:51] arunge commented on #49
@mgross Could you please check why the test is failing? I would like to merge the current beta into the main branch **before** adding new options regarding https://github.com/Pandora-IsoMemo/iso-app/issues/37 to the beta branch.

[2022-08-09 14:18] isomemo commented on #8
@arunge I think that this worked for you because the file was small. I tried this and hte app greyed out for KernetTimeR (same happening for TimeR) before producing the gif. I did the following:

1) Loaded the LiVES data via the IsoMemo skin
2) Run a KernelTimeR model with lower time point as dateLower and upper time point as dateUpper
3) The model worked fine. Then I tried to export a big between

[2022-08-10 09:09] jroachell15 opened #51 "[MPI_WP2]: 1. Github and documentation"
- [x] Migration of all codes to Github repositories. The service provider will be provided with existing code from c. 10 different Shiny apps/R packages and will migrate these to individual repositories within the GitHub Pandora &
IsoMemo software platform (https://github.com/Pandora-IsoMemo)
- [ ] https://github.com/Pandora-IsoMemo/shiny-tools/issues/1: Document in a CRAN style all inputs for fun

[2022-08-10 09:17] jroachell15 opened #52 "[MPI_WP2]: 4. Pandora skin & CRAN package"

[2022-08-10 09:27] jroachell15 opened #53 "[MPI_WP2]: 2. IsoMemo skin IsoMemo app: bibtext, duplicates, restructure"
**A. higher level of data fetching**
For the Isomemo app, introduce a higher level of data fetching. Currently a script is used to map data from across different databases into a single table stored in our servers. This script is something that I can edit as databases are added/removed/modified. The script should be modified so that now I would have the option of creating different data maps. In t

[2022-08-10 09:35] jroachell15 opened #54 "[MPI_WP2]: 4. Kernel and KernelTimeR - Add a new clustering option"
These models are available within the IsoMemo package (https://github.com/Pandora-
IsoMemo/iso-data/tree/main/R). They employ clustering analysis.

Add a new clustering option to the existing ones using the Mclust package. Mclust function to be used which automatically calculates the best fitting number of clusters.

In KernelTimeR one can display clusters by colour in a map plus “Time intervals b

[2022-08-10 09:48] jroachell15 opened #55 "[MPI_WP2]: 8. All apps provided as part of GitHub transfer"
- Add option to store only data and model input parameters without the model output
plus optional results. These are the examples to be uploaded to a certain directory and
will populate a pending list in the app and the user can select and load one of these.
  - [x] [BMSC App](https://github.com/Pandora-IsoMemo/bmsc-app)
    - https://github.com/Pandora-IsoMemo/bmsc-app/pull/21
  - [x] [BPred](htt

[2022-08-10 09:53] jroachell15 opened #56 "[MPI_WP2]:Further suggestions for IsoMemo"
**Suggestion of further features:

Isomemo App - Saved Maps tab:**
from https://github.com/Pandora-IsoMemo/iso-app/issues/20
Under the main menu currently named "Saved maps" I can create new numeric maps. If I select the option region-circle, I can select to create a numeric map for a certain radius around a certain centre. This seems to be Ok. However, if I select the option region-square the opt

[2022-08-11 10:18] jroachell15 commented on #12
Legend decimal places features:

- [ ] AverageR
- [ ] TimeR
- [ ] SpreadR
- [ ] KernelR
- [ ] KernelTimeR

Scatter plot decimal adjustment:

- [ ] TimeR
- [ ] KernelTimeR

[2022-08-11 11:32] arunge commented on #8
New input box  for the time is under review (#57).

[2022-08-11 12:26] arunge commented on #8
I can confirm this issue. The app crashed also locally for smaller time intervals. I am checking the options here.

[2022-08-15 16:35] arunge commented on #2
@isomemo I found this open task of the 20/21 contract. No new estimates had been done yet. I would try to implement this functionality within the restructuring task for the isomemo app: https://github.com/Pandora-IsoMemo/iso-app/issues/53 (E.)

That is, I will not make any additional estimates here. Would that be ok for you?

[2022-08-17 12:29] wahani commented on #9
@isomemo some updates for your review:

- The server is now running and the App is available at https://pandorasearch.earth/ and https://isomemosearch.com/
- We only have access to one app, that is is isomemo app with the limited GUI as described/developed by @arunge (https://github.com/Pandora-IsoMemo/iso-app/issues/9#issuecomment-1132730666)
- The server will receive maintenance tasks (docker pr

[2022-08-25 12:02] jroachell15 commented on #12
Notes to Jian:
- convert the labels for the x y axis into decimal points:
[code]

[2022-08-25 12:10] jroachell15 commented on #12
@isomemo

I just want to give you my honest opinion from the user interface perspective on this task. The ability to let the user to adjust decimal points is not very useful. (maybe you have other opionion about this), namely because:
- It requires another input box for the user, which already crowds the right side of the interface, causing more confusion for the user
- When you actually look at t

[2022-08-25 14:58] isomemo commented on #12
@jroachell15 as mentioned before there are cases where this is necessary. Yes, having a box for inputting the number of decimal points would be best.

[2022-08-29 09:59] mgross commented on #49
fixed

[2022-08-29 10:19] arunge commented on #49
Thanks!

[2022-08-29 10:19] #49 closed

[2022-09-01 07:12] arunge commented on #19
@jroachell15 I merged your current name changes into the beta. Please open a new feature branch for other tasks of this issue.

[2022-09-01 09:02] jroachell15 commented on #12
Note to Jian:
- CODE REVIEW: should move the input box `Input decimal places for map legend` to below the centering point input boxes:
`Input decimal places for map legend`

[2022-09-01 11:14] jroachell15 commented on #12
@isomemo

Now the decimal places for map legends are done for all models
![image](https://user-images.githubusercontent.com/73887426/187900820-14e379d3-d602-4ac1-b5bd-79d1a4176e47.png)

as well as decimal places for scatterplot are done for timeR and KerneltimeR:

![image](https://user-images.githubusercontent.com/73887426/187900718-f7aab629-87ba-4fcb-be4b-252dd1886dbb.png)
1) input decimal places

[2022-09-02 08:57] arunge commented on #12
However, this update is currently only available on a feature branch, but will be in the beta version soon.

[2022-09-06 11:36] arunge commented on #37
note for me: check following link:
![image](https://user-images.githubusercontent.com/16759098/188625909-b3eab6cf-de46-4b78-9453-243400baafb2.png)

[2022-09-09 12:46] arunge commented on #8
@isomemo  With [version 22.09.01](https://github.com/Pandora-IsoMemo/iso-app/blob/beta/NEWS.md) the [input box](https://github.com/Pandora-IsoMemo/iso-app/pull/57#issue-1334665197) is on the [beta](https://isomemoapp.com/app/iso-memo-app-beta) for testing.

The [zip option](https://github.com/Pandora-IsoMemo/iso-app/pull/58#issue-1337030661) is under review.

[2022-09-16 12:28] arunge commented on #12
With the new (1) [version 22.9.2](https://github.com/Pandora-IsoMemo/iso-app/blob/beta/NEWS.md#mpiisoapp-22092) on the [beta branch](https://isomemoapp.com/app/iso-memo-app-beta) one can adjust decimal places:
- for center estimates (2, 3, 4) in _map_ plots
  - this is only possible if a center is provided (5, 6)

![image](https://user-images.githubusercontent.com/16759098/190635697-e3021be9-636e-

[2022-09-16 12:28] #12 closed

[2022-09-21 16:11] arunge commented on #8
Feedback regarding the [input box](https://github.com/Pandora-IsoMemo/iso-app/pull/57#issue-1334665197)
- the update of the map is very slow
- better use a button instead of reactive updates
- should be executed after setting lat/long
- [ ] find a useful position for the button

[2022-09-21 16:58] isomemo commented on #8
@arunge just a small correction. The update to time should be done at the same time as for coordinates. However, if input boxes are blank previous values selected in the map remain the same. For instance, if I only input time but not coordinates nor zoom then there would be no change for the coordinates/zoom but only for time. Finally, please remember that this applies to both the TimeR and Kernel

[2022-09-29 18:11] arunge commented on #8
I pushed a [new version 22.09.3](https://github.com/Pandora-IsoMemo/iso-app/pull/58) to the [beta branch](https://isomemoapp.com/app/iso-memo-app-beta) that will be available after tests are completed. @isomemo Feel free to test it. :slightly_smiling_face:

I did not check this task:

Is it already there and working? Or must it be implemented?

The changes regarding

are still in progress.

[2022-10-04 15:20] isomemo opened #62 "Bug in loading non-decimal coordinates"
@arunge

In the Pandora interface, we can select to upload coordinates in 3 different formats. See the image below:

![image](https://user-images.githubusercontent.com/46485054/193857890-8fc0ca04-40a9-4239-aa1e-b15016d4c405.png)

The second and third formats will include non-numerical values. This Excel file contains Latitude and Longitude fields using the second format:

[alkane_database.xlsx](ht

[2022-10-04 15:23] isomemo opened #63 "Bug in updating Interactive map"
@arunge

I loaded LiVES data and produced a map via the Interactive map tab. This is working fine.

I then applied a filter to the data table which reduced the number of points to be shown on the map. However, the Interactive map did not update the point display. It kept displaying all of the points from the first map rendering. Interestingly, I changed point size and this was only applied to filt

[2022-10-04 16:01] isomemo opened #64 "Text labels for LocateR"
@arunge

Update texts for the LocateR interface:

![image](https://user-images.githubusercontent.com/46485054/193861309-74b5ad4c-0fa2-41ad-9ff9-ac75387e05ff.png)

"Data source" should be "Options"

"Select maps for similarity map:" should be "Select baseline maps:

[2022-10-05 07:42] arunge commented on #63
@isomemo Could you tell me (or give me a screenshot) where you specified the filter, that is, which input did you use for filtering?

[2022-10-05 07:50] isomemo commented on #63
@arunge the fastest method would be to apply filters to the lat/long fields

![image](https://user-images.githubusercontent.com/46485054/194008080-01683102-0255-4b0d-9cac-b50fc14775f5.png)

I changed the point size and as you can see below the pre-filter points are still shown

![image](https://user-images.githubusercontent.com/46485054/194008310-de09d443-78d5-41ac-bd69-e0ed0e72a01b.png)

Also, so

[2022-10-06 07:10] arunge opened #67 "Pandora Skin: automatically set Longitude and Latitude fields after loading data"
For Pandora skin, currently users have to manually select longitude and latitude fields. This should remain possible. However, now when selecting a data resource the app will check if there are fields named Longitude or Long and Latitude or Lat. If so, these are automatically assigned.

[2022-10-06 08:13] arunge commented on #62
While fixing the bug with the columns, I extracted a new module (1) for the location fields:

![image](https://user-images.githubusercontent.com/16759098/194256361-9237d53e-94a0-4823-b0cc-ac1a0fc976aa.png)

- additionally the columns will be set automatically if a match was found.

However, I would like to apply this module also in the modelling tabs, but the user interface there is currently a bi

[2022-10-06 09:11] isomemo commented on #62
@arunge

Yes, indeed for the modelling the lat/long inputs work differently. I have the following comments:

1) When it comes to hiding the fields if the database option is selected. What if we have a checkbox for that to show/hide? If the user selects database then the checkbox is set to hide but the user still has the option of activating it. I mention this since there could be situations where

[2022-10-06 09:47] isomemo commented on #9
@wahani @arunge

The link should forward directly to the search app. Showing first the logo of the app (as in the figure in the previous post is redundant in this case as we only have one option)

While loading the following message is shown:

![image](https://user-images.githubusercontent.com/46485054/194277926-0e517b60-ec96-4b0a-ad1a-b457b36b9cdb.png)

This should be rephrased to "Launching Pand

[2022-10-06 09:49] isomemo opened #68 "Certificate warning"
@wahani @arunge

The following certificate related message is shown when trying to access isomemosearch.com

![image](https://user-images.githubusercontent.com/46485054/194282629-37d33e80-4698-47e2-93ef-4553685a0221.png)

[2022-10-06 11:16] arunge commented on #62
Regarding:

Would it then make sense to have this option (to set Lat/Long columns, optionally) also in the "data" section? Since the columns selected for lat/long in the data section are used in the interactive map section to show the points on the map. Maybe we could change this to be consistent within all sections? That is, also with database source one could select lat/long?

[2022-10-07 06:53] wahani commented on #68
@isomemo the certificates are issued by the MPI IT. I will reach out to them and bring this to their attention.

[2022-10-07 07:12] isomemo commented on #68
@wahani thank you!

[2022-10-07 07:19] isomemo commented on #62
@arunge in the case of the data section the user can choose to assign or not coordinates. You are now working on the new task of trying to guess (on the basis of the field name) what are the lat/long. However, this could fail and so the user will always have the option to select different fields.

In principle, I would like to have everything working in a consistent manner. However, for the modell

[2022-10-10 07:15] wahani commented on #68
I just checked. There is already a new certificate in place. We can close this issue then, nothing more to do.

[2022-10-10 07:15] #68 closed

[2022-10-10 09:46] arunge commented on #62
@isomemo

Yes, if this happens the inputs will just be empty.

The same here, the inputs just would be empty.

Since the app grew regarding the number of features, it is important to provide more structure to the code base. In the past, when the modelling development was the main task, the focus was less on the structure of inputs, outputs and reactives. Unfortunately, a lot of copy-paste was used

[2022-10-10 16:35] arunge commented on #62
I merged a [new version](https://github.com/Pandora-IsoMemo/iso-app/pull/66#issue-1398179557) to the [beta app](https://isomemoapp.com/app/iso-memo-app-beta) that fixes this bug in the data tab. Additionally, now [default columns are set automatically](https://github.com/Pandora-IsoMemo/iso-app/issues/67).

Regarding the modelling tabs I had a look into the code. Currently the model starts running

[2022-10-10 16:54] arunge commented on #44
Fixing this issue is not trivial. Since I am using a function from the leaflet package here: `addCircles()`. The [documentation](https://www.rdocumentation.org/packages/leaflet/versions/2.1.1/topics/addControl) says point radius is defined in meters:

What I found is, that there must be an issue with the default projection or crs class (https://www.rdocumentation.org/packages/leaflet/versions/2.1.

[2022-10-10 16:56] arunge commented on #63
I merged a [new version 22.10.1](https://github.com/Pandora-IsoMemo/iso-app/pull/66#issue-1398179557) to the [beta app](https://isomemoapp.com/app/iso-memo-app-beta) that fixes the bug with the filter.

The [issue with the point sizes is still open](https://github.com/Pandora-IsoMemo/iso-app/issues/44).

[2022-10-10 16:56] #63 closed

[2022-10-10 16:59] arunge commented on #67
I merged a [new version 22.10.1](https://github.com/Pandora-IsoMemo/iso-app/pull/66#issue-1398179557) to the [beta app](https://isomemoapp.com/app/iso-memo-app-beta) that contains this feature.

@isomemo Feel free to test it and let me know if all is done here.

[2022-10-11 09:35] arunge opened #69 "[MPI_WP2]: 2. IsoMemo skin IsoMemo app"
## Updates for Isomemo skin: higher level of data fetching

- [x] For the Isomemo app (https://github.com/Pandora-IsoMemo/iso-app), introduce a higher level of data fetching.

  Currently a script is used to map data from across different databases into a single table stored in our servers (https://github.com/Pandora-IsoMemo/iso-app/tree/main/R).
This script is something that can be edited as data

[2022-10-11 12:16] arunge commented on #44
As discussed today, I will exchange the function and use `addCicleMarkers()`, and update labels correspondingly.

[2022-10-11 12:30] arunge commented on #62
Discussed today regarding:

* Seems not to be the case with the beta version. I will check this issue.

* removing the feature to upload data in the modelling tab is not an option. Although, it would help to reduce redundancy (the user now can upload files over the pandora interface which was not possible in the past), users of the app might got used to the feature and could miss it.

- [ ] I will

[2022-10-11 12:30] #62 closed

[2022-10-11 12:32] arunge opened #70 "Check options to apply lat/long module in modelling tabs"
- [ ] I will think about the current code structure and try to find a simple way to apply the new module. If the effort would be to large, we just keep the redundant but working code as it is. The bug mentioned above is already fixed.

_Originally posted by @arunge in https://github.com/Pandora-IsoMemo/iso-app/issues/62#issuecomment-1274611124_

[2022-10-11 12:37] isomemo commented on #62
@arunge the beta and regular versions do not automatically run the model and this seems to be working fine. Yes, we should not invest too much time in this as this seems to be primarily an aesthetic issue. Better to prioritize bug fixing.

[2022-10-11 12:41] isomemo commented on #44
Ok!

[2022-10-17 12:29] wahani commented on #9
@isomemo I prepared the following changes:

- apps are now directly accessible at  https://pandorasearch.earth/ and https://isomemosearch.com/ (no landing page)
- The display name is now changed to *Launching Pandora & IsoMemo Data Search*

@arunge I leave the other changes in the modelling tab to you.

[2022-10-18 15:35] #44 closed

[2022-10-18 15:50] arunge opened #73 "Refactoring: Apply module locationField from data tab in modelling tabs"
The new module:
- https://github.com/Pandora-IsoMemo/iso-app/blob/3b64d05a9d14965c4b73f8885e3c4674238c77cd/R/02-modules-dataHelpers.R#L9
- https://github.com/Pandora-IsoMemo/iso-app/blob/3b64d05a9d14965c4b73f8885e3c4674238c77cd/R/02-modules-dataHelpers.R#L51

is currently designed to fill lat/long inputs with correct column names and to set default columns for lat/long. It works within the data ta

[2022-10-20 17:42] arunge commented on #8
@isomemo With [version 22.10.3](https://github.com/Pandora-IsoMemo/iso-app/pull/61#issue-1387861933) on the [beta app](https://isomemoapp.com/app/iso-memo-app-beta) I restructered the UI for zooming, lat/long (and time) in all modelling tabs. Now, one must press a button to set time, lat/long or zoom. Please, test the new UI and let me know if all works as expected.

Since, this was a more complex

[2022-10-21 11:12] arunge commented on #9
@isomemo I pushed a [new version](https://github.com/Pandora-IsoMemo/iso-app/pull/74#issue-1418137748) to the main app. Please, check the updated text in the modeling tab of the [_Search App_](https://pandorasearch.earth/) and let me know if all is fine.

[2022-11-08 08:59] arunge commented on #27
@isomemo [Version 22.11.1](https://github.com/Pandora-IsoMemo/iso-app/pull/75#issue-1420559933) on the [beta](https://isomemoapp.com/app/iso-memo-app-beta) branch fixes the Bugs mentioned [above](https://github.com/Pandora-IsoMemo/iso-app/issues/27#issue-1212071960).

Regarding:

please note, I did not change any logic, how values are calculated. I only changed the reactive behavior. In the contex

[2022-11-08 09:03] arunge commented on #19
I will check open tasks here and update the ticket next.

[2022-11-08 09:44] arunge commented on #27
Note: There are new features that you did not confirm yet (the issues are assigned to you): #8, #67

Should we wait with merging those into the main app until you had the time to test them?

[2022-11-08 13:07] arunge opened #77 "Filter groups/datasets/resources by a string. The user can give write a string in a textbox (3 available) and only groups/datasets/resources containing that string are displayed. This should be case insensitive."

[2022-11-08 13:13] arunge commented on #77
Note: Filtering in general is working by default, however, the UI is not so intuitive, change behavior if (1), (2)
![image](https://user-images.githubusercontent.com/16759098/200573779-6fd3507a-c2a6-46cb-a02c-d63447e5f8dd.png)

to:
- [ ] empty input field when starting
- [ ] do not delete input field if string was not found, just show empty list

[2022-11-08 13:16] arunge opened #78 "Filter datasets to be shown by CKAN Group (user can select none, or one/several specific Group)"

[2022-11-08 13:27] arunge commented on #78
Note: Please take care regarding future renaming of fields. Check the api call:

- `datasets` (directories) -> `data containers`
- `organizationes` -> communities
- `groups` -> `networks`

[2022-11-11 13:18] arunge opened #79 "Provide code for HTML interface"
@isomemo asked for the code for the html page:

@jan-abel-inwt could you check where the code can be found? @wahani mentioned it must lie somewhere on the shinyproxy server. If you have questions, please ask @wahani.

Let me know, when you found the code. Thanks! :slightly_smiling_face:

[2022-11-17 08:32] arunge opened #80 "IsoMemo App: Deploy changes from beta to the main app"
I would like to merge the current beta version into the main version. This would add **all** changes from version 22.09.1 on (documented [here](https://github.com/Pandora-IsoMemo/iso-app/blob/beta/NEWS.md#mpiisoapp-22091)) to the [main app](https://isomemoapp.com/app/iso-memo-app), including Bug fixes for
- #62,
- #63,
- #67,
- #44,
- #27.

Is that ok for you?

Afterwards, I would start adding fea

[2022-11-30 11:43] jan-abel-inwt commented on #79
The code can be found on the `mpi-iso-app` machine under  `/etc/shinyproxy/templates/2col`

[code]